<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
            <li class="py-2 px-2 nav-item dropdown mx-5">
                <a class="nav-link dropdown-toggle" id="about_arbex" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About ArBex</a>
                <div class="dropdown-menu" aria-labelledby="about_arbex">
                    <a class="dropdown-item" href="#">Our History</a>
                    <a class="dropdown-item" href="#">Our Team</a>
                    <a class="dropdown-item" href="#">Our Mission</a>
                </div>
            </li>
            <li class="py-2 px-2 nav-item dropdown mx-5">
                <a class="nav-link dropdown-toggle" id="scholar_database" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Scholar Database</a>
                <div class="dropdown-menu" aria-labelledby="scholar_database">
                    <a class="dropdown-item" href="#">Scholar Search</a>
                    <a class="dropdown-item" href="#">Scholar List</a>
                </div>
            </li>
            <li class="py-2 px-2 nav-item">
                <a class="nav-link" href="#">For Students</a>
            </li>
            <li class="py-2 px-2 nav-item dropdown mx-5">
                <a class="nav-link dropdown-toggle" id="join_our_efforts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Join Our Efforts</a>
                <div class="dropdown-menu" aria-labelledby="join_our_efforts">
                    <a class="dropdown-item" href="#">Become a Scholar</a>
                    <a class="dropdown-item" href="#">Become an Ally</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
