{% extends 'admin/base.html.twig' %}

{% block title %}New User{% endblock %}

{% block page_title %}User{% endblock %}
{% block page_subtitle %}New{% endblock %}

{% block page_content %}
    <h1>Create new User</h1>

    {{ include('user/user/_form.html.twig') }}

    <a href="{{ path('admin_user_user_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
