<form method="post" action="{{ path('admin_availability_tag_delete', {'id': availability_tag.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ availability_tag.id) }}">
    <button class="btn">Delete</button>
</form>
