{% extends 'base.html.twig' %}

{% block title %}Edit Publication{% endblock %}

{% block body %}
    <h1>Edit Publication</h1>

    {{ include('admin_publication/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_publication_index') }}">back to list</a>

    {{ include('admin_publication/_delete_form.html.twig') }}
{% endblock %}
