<form method="post" action="{{ path('admin_publication_tag_delete', {'id': publication_tag.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ publication_tag.id) }}">
    <button class="btn">Delete</button>
</form>
