body {
    background-color: #FFF;
    font-family: "Open Sans", "Helvetica Neue", serif;
}

.flag-icon {
    width: 16px;
    height: 16px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

a.arbex-tab-link {
    text-decoration: none;
    color: #000;
}

a.arbex-tab-link:hover, .tab-active {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.c-black {
    color: #000000!important;
}

/*.form-check-inline .checkbox {*/
/*    border: 1px solid black!important;*/
/*    border-radius: 1rem;*/
/*    padding: 1rem 1rem;*/
/*    margin-right: 2rem;*/
/*}*/
/*.form-check-inline .checkbox label input {*/
/*    display: none;*/
/*}*/
