body {
    background-color: #FFF;
    font-family: "Open Sans", "Helvetica Neue", serif;
}

.flag-icon {
    width: 16px;
    height: 16px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

a.arbex-tab-link {
    text-decoration: none;
    color: #000;
}

a.arbex-tab-link:hover, .tab-active {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.c-black {
    color: #000000!important;
}


