{% extends 'base.html.twig' %}

{% block title %}Scholar Database index{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="d-flex justify-content-around bd-highlight">
            <div class="p-2 bd-highlight">
                <a class="arbex-tab-link {% if app.request.get('_route') == 'scholar_database_search' %}tab-active{% endif %}" href="{{ path('scholar_database_search') }}">SCHOLAR SEARCH</a>
            </div>
            <div class="p-2 bd-highlight">
                <a class="arbex-tab-link {% if app.request.get('_route') == 'scholar_database_list' %}tab-active{% endif %}" href="{{ path('scholar_database_list') }}">SCHOLAR LIST</a>
            </div>
        </div>

        {% block tab_content %}
        {% endblock %}
    </div>
{% endblock %}
