<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Dev by <a href="https://www.linkedin.com/in/kim-quang-pham-92908810b/">Kimouss</a>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2021 <a href="#">ArBex</a>.</strong> All rights reserved.
</footer>
